.features-section{
    display: flex;
    align-content: space-around;
    justify-content: center;
    padding: 2em;
}

.features-section div{
    justify-content: left;
    align-content: left;
    width: 10em;
    height: auto;
    padding: 2em;
}

.features-section div img{
    position: relative;
    left: -1.5em;
}